{
    email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode zstd gzip
    reverse_proxy app:8080 {
        header_up X-Forwarded-For {remote_host}
    }
}

{$STORAGE_DOMAIN} {
        @preflight method OPTIONS
        handle @preflight {
            header Access-Control-Allow-Origin "https://{$APP_DOMAIN}"
            header Access-Control-Allow-Methods "GET, PUT, HEAD"
            header Access-Control-Allow-Headers "*"
            header Access-Control-Max-Age "86400"
            respond 204
        }

        handle {
            reverse_proxy s3:9000 {
                header_down Access-Control-Allow-Origin "https://{$APP_DOMAIN}"
            }
        }
}
